// Imports

@import url(/assets/styles/root.less);

//Min-width 2560

@media only screen and (min-width: 2560px) {}

// Max-width 1440

@media only screen and (max-width:1440px) {
  .paleta-de-cores {
    .projeto-paleta-cores-top {
      .paleta-cores-top-direita {
        .title-paleta-cores {
          max-width: 17rem;
          padding-left: 6rem;
        }
      }
    }
  }

  .projeto-conceito-simbolo {
    .conceito-simbolo-esquerda {
      .title-conceito-simbolo {
        max-width: 14rem;
      }
    }
  }
}

// Max-width 1024

@media only screen and (max-width: 1024px) {
  #contianer-top {
    max-width: 1024px;
  }

  .projeto-header {
    flex-direction: column;
    padding-bottom: 5.5rem;

    .header-esquerdo {
      max-width: 49rem;

      .titulo-do-projeto {
        max-width: 49rem;
      }

      .descricao-do-projeto {
        max-width: 49rem;
      }
    }

    .header-direito {
      max-width: 49rem;
      padding-left: 0rem;
      padding-top: 2rem;

      img {
        background-size: cover;
        width: 100%;
      }
    }

    .header-inferior {
      .tags-projeto {
        padding-top: 12rem;
        gap: 0.5rem;
        flex-wrap: wrap;
        justify-content: flex-start;

        .tag-cliente,
        .tag-segmento,
        .tag-servico,
        .tag-equipe,
        .tag-cronograma {
          padding: 1.3rem 0 1.3rem 0;
          width: 9.3rem;
        }
      }
    }
  }

  .projeto-about {
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 5.5rem;

    .about-esquerda {
      .about-title {
        max-width: 49rem;
      }
    }

    .about-direita {
      .about-list-title {
        padding: 2rem 0;
      }
    }
  }

  .projeto-metas {
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 5.5rem;

    .metas-esquerda {
      .metas-title {
        max-width: 49rem;
      }
    }

    .metas-direita {
      .metas-list {
        max-width: 49rem;
        padding: 2rem 0 2rem 2rem;
        font-size: 1.5rem;
      }
    }
  }

  #container {
    padding: 0rem 7rem 0 7rem;
    display: block;
  }

  .projeto-conceito-marca {
    gap: 3.5rem;

    .conceito-direito {
      .rectangle-brown {
        max-width: 20rem;
        width: 20rem;
      }

      .concent-conceito-direito {
        max-width: 20rem;
        gap: 0rem;

        .frase-conceito-direito {
          font-size: 1.3rem;
          max-width: 13.5rem;
          padding-top: 3.31rem;

          span {
            font-size: 0.9rem;
            padding-top: 0.5rem;
          }
        }

        .anel-flutuante {
          img {
            max-width: 10rem;
          }
        }
      }
    }

    .conceito-esquerdo {
      .title-conceito {
        max-width: 25rem;
        padding-bottom: 2rem;
      }

      .sub-title-conceito {
        padding-bottom: 1.5rem;
      }
    }
  }

  .projeto-conceito-simbolo {
    flex-direction: column;

    .conceito-simbolo-esquerda {
      padding: 0;

      .title-conceito-simbolo {
        max-width: 49rem;
        padding-bottom: 2rem;
      }
    }

    .conceito-simbolo-centro {
      padding: 0;
      display: flex;
      gap: 6rem;

      .pedra-lapidada {
        padding-bottom: 2rem;
      }
    }

    .conceito-simbolo-direita {
      .desc-conceito-direita {
        max-width: 49rem;
      }
    }
  }

  .bg-brown {
    padding: 4.5rem 0;
  }

  .projeto-tipografia {
    gap: 3.5rem;
    padding: 4.5rem 0 4.5rem 0;

    .tipografia-direita {
      .tipografia-pattern {
        .content-caixa-flutuante {
          img {
            max-width: 25rem;
          }
        }

        .rectangle-pattern {
          max-width: 20rem;

          img {
            max-width: 20rem;
            height: 60rem;
            object-fit: cover;
          }
        }
      }
    }

    .tipografia-esquerda {
      .title-tipografia {
        max-width: 26rem;
        padding-bottom: 2rem;
      }

      .desc-tipografia {
        padding-bottom: 2rem
      }

      .tipografia-system {
        .style-aviex {
          .name {
            font-size: 3.5rem;
          }
        }

        .style-marnope {
          .name {
            font-size: 3.5rem;
          }
        }
      }
    }
  }

  .paleta-de-cores {
    .projeto-paleta-cores-top {
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .paleta-cores-top-direita {
        .busto {
          display: none;
        }

        .title-paleta-cores {
          max-width: 20rem;
          padding: 0;
        }
      }

      .paleta-cores-text {
        .projeto-paleta-cores-esquerda {
          .desc-paleta-cores {
            padding-bottom: 12rem;
          }

          .codigo-cor {
            float: none;
          }
        }

        .paleta-cores-bottom-direita {
          .codigo-cor {
            float: none;
          }
        }
      }

    }
  }

  .projeto-construction-logo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4.5rem 0 4.5rem 0;

    .construction-logo-esquerda {
      .title-construction-logo {
        max-width: 49rem;
      }
    }

    .construction-logo-direita {
      .spacing-construction-logo {
        display: flex;
        gap: 2.5rem;
        flex-direction: row;
        flex-wrap: wrap;

        .spacing-logo-1,
        .spacing-logo-2,
        .spacing-logo-3 {
          max-width: 23rem;
        }
      }
    }
  }

  .projeto-exemplos-aplication {
    padding-top: 4.5rem;
    padding-bottom: 4rem;

    .exemplos-aplication-esquerda {
      display: flex;
      gap: 2rem;
      flex-direction: column;

      .title-exemplos-aplication {
        max-width: 49rem;
      }
    }

    .exemplos-aplication-direita {
      padding-bottom: 0rem;

      .aprendizados {
        padding: 0;

        .sub-title-exemplos-aplication {
          padding-bottom: 2rem;
        }
      }
    }
  }

  .contact {
    .content-contact {
      max-width: 49rem;
    }
  }
}

// Max-width 834

@media only screen and (max-width: 834px) {
  #container {
    max-width: 768px;
    padding: 0 2rem 0 2rem;

    .projeto-etapas-do-design {
      max-width: 680px;

      .etapas-content {
        .etapas-esquerda {
          .etapas-title {
            max-width: 50rem;
            padding-bottom: 3rem;
          }
        }

        .etapas-direita {
          display: flex;
          flex-direction: column;
          margin: 0 auto;

          .etapas-problem {
            max-width: 50rem;
            font-size: 1.2rem;
            padding-bottom: 3rem;
            font-weight: 500;
          }

          img {
            max-width: 43rem;
          }
        }
      }
    }

    .projeto-pesquisas {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      max-width: 680px;

      .pesquisas-esquerda {
        .pesquisas-title {
          max-width: 43rem;
          width: 43rem;
        }
      }

      .pesquisas-direita {
        .lists-matriz {
          .matriz-csd-list-title {
            font-size: 1.5rem;
          }

          .matriz-csd-item-list {
            font-size: 1.125rem;
          }
        }

        .matriz-csd {
          max-width: 43rem;
          width: auto;
        }

        .desc-imagem {
          font-size: 1rem;
        }
      }
    }

    .projeto-dados {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      max-width: 680px;

      .dados-esquerda {
        .dados-title {
          max-width: 43rem;
        }
      }

      .dados-direita {
        .dados-graphic {
          gap: 1rem;
        }

        .graphic-users {
          max-width: 21rem;
          padding: 1rem 0.65rem;
        }

        .graphic-demographic {
          max-width: 21rem;
          padding: 1rem 0.65rem;
        }

        .title-questions {
          font-size: 1.5rem;
        }

        .item-list-questions {
          font-size: 1.125rem;
        }

        .desc-graphic {
          font-size: 1rem;
        }
      }
    }

    .projeto-fluxo-users {
      .fluxo-content {
        display: flex;
        flex-direction: column;
        max-width: 680px;
        gap: 2rem;

        .fluxo-esquerda {
          .fluxo-title {
            max-width: 43rem;
          }
        }

        .fluxo-direita {
          .fluxo-example {
            max-width: 43rem;
          }

          .desc-image-fluxo {
            font-size: 1rem;
          }
        }
      }
    }

    .projeto-solution {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      max-width: 680px;
      padding-top: 5rem;

      .solution-esquerda {
        .solution-title {
          max-width: 40rem;
        }
      }

      .solution-direita {
        .design-system-solution {
          .tipografia-system {
            .name {
              font-size: 4rem;
            }

            .alfabeto {
              font-size: 1rem;
            }
          }
        }

        .wireframes {
          .mf-desktop {
            max-width: 43rem;
          }

          .desc-img-wireframes {
            font-size: 1rem;
          }
        }
      }
    }

    .projeto-conceito-marca {
      gap: 2rem;
      display: flex;
      flex-direction: column;

      .conceito-direito {
        .concent-conceito-direito {
          max-width: 20rem;
          gap: 1rem;
          margin-top: -3%;
          margin-left: 26%;

          .anel-flutuante {
            img {
              max-width: 10rem;
              margin-top: 18%;
            }
          }
        }

        .rectangle-brown {
          max-width: 32rem;
          width: 43rem;
          max-height: 12rem;
          margin: 0 auto;
        }
      }

      .conceito-esquerdo {
        max-width: 49rem;

        .desc-sub-conceito {
          font-size: 1rem;
        }
      }
    }

    .projeto-conceito-simbolo {
      .conceito-simbolo-direita {
        .desc-conceito-direita {
          font-size: 1rem;
        }
      }

      .conceito-simbolo-centro {
        img {
          max-width: 16rem;
        }
      }
    }

    .projeto-tipografia {
      display: flex;
      gap: 2rem;
      padding: 4.5rem 0 4.5rem 0;
      flex-direction: column;

      .tipografia-esquerda {
        max-width: 49rem;

        .desc-tipografia {
          font-size: 1rem;
        }

        .tipografia-system {
          display: flex;
          gap: 5rem;

          .style-aviex {
            .alfabeto {
              font-size: 1rem;
            }

            .alfabeto-2 {
              font-size: 1rem;
            }

            .numbers {
              font-size: 1rem;
            }

            .caracters {
              font-size: 1rem;
            }
          }

          .style-marnope {
            .alfabeto {
              font-size: 1rem;
            }

            .alfabeto-2 {
              font-size: 1rem;
            }

            .numbers {
              font-size: 1rem;
            }

            .caracters {
              font-size: 1rem;
            }
          }
        }
      }

      .tipografia-direita {
        .tipografia-pattern {
          .rectangle-pattern {
            img {
              max-width: 43rem;
              width: 43rem;
              height: 15rem;
              object-fit: cover;
            }
          }

          .content-caixa-flutuante {
            position: absolute;
            margin-left: 21%;
            margin-top: -6%;

            img {
              max-width: 23rem;
            }
          }
        }
      }
    }

    .projeto-construction-logo {
      padding: 3.5rem 0 3.5rem 0;

      .construction-logo-direita {
        .desc-construction-logo {
          font-size: 1rem;
        }

        .grids-construction-logo {
          img {
            max-width: 20rem;
            object-fit: cover;
          }
        }

        .spacing-construction-logo {

          .spacing-logo-1,
          .spacing-logo-2,
          .spacing-logo-3 {
            max-width: 20rem;
            object-fit: cover;
          }
        }
      }
    }

    .projeto-exemplos-aplication {
      padding-top: 0;

      .exemplos-aplication-esquerda {
        .desc-exemplos-aplication {
          font-size: 1rem;
        }
      }

      .exemplos-aplication-direita {
        .aprendizados {
          .desc-exemplos-aplication {
            font-size: 1rem;
          }
        }
      }
    }

  }

  .paleta-de-cores {
    .projeto-paleta-cores-top {
      .paleta-cores-text {
        .projeto-paleta-cores-esquerda {
          .desc-paleta-cores {
            font-size: 1rem;
          }
        }
      }
    }
  }

  .bg-black {
    padding: 3.5rem 0;
  }

  #container-top {
    padding: 8rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 768px;

    .projeto-header {
      max-width: 680px;
      display: flex;
      flex-direction: column;
      padding-bottom: 4rem;

      .header-esquerdo {
        max-width: 43.5rem;
        padding-bottom: 2rem;
        padding-top: 2rem;

        .titulo-do-projeto {
          max-width: 43.5rem;
          padding-bottom: 2rem;
        }

        .descricao-do-projeto {
          font-size: 1rem;
        }
      }

      .header-direito {
        display: none;
      }

      .header-inferior {
        .tags-projeto {
          display: flex;
          gap: 1rem;
          justify-content: flex-start;
          flex-wrap: wrap;
          padding: 0;
        }
      }
    }

    .projeto-about {
      max-width: 680px;
      gap: 2rem;
      flex-direction: column;
      padding-bottom: 4rem;

      .about-esquerda {
        .about-title {
          max-width: 100% !important;
        }
      }

      .about-direita {
        .about-list-esquerda {
          max-width: 21rem;
        }

        .about-list-direita {
          max-width: 20rem;
          padding: 0;
        }

        .about-list-title {
          font-size: 1.5rem;
        }

        .about-item-list {
          font-size: 1rem;
        }

        .about-desc {
          font-size: 1rem;
        }
      }
    }

    .projeto-metas {
      max-width: 680px;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-bottom: 4rem;

      .metas-esquerda {
        .metas-title {
          max-width: 50rem;
        }
      }

      .metas-direita {
        .metas-list {
          padding: 2rem 0 2rem 2rem;
          font-size: 1.5rem;
        }
      }
    }
  }

  .contact {
    .content-contact {
      padding: 6.62rem 2rem 0 2rem;
    }
  }


}

// Max-width 430

@media only screen and (max-width: 430px) {
  #container-top {

    .projeto-header {
      .header-esquerdo {
        .titulo-do-projeto {
          font-size: 2rem;
        }
      }
    }

    .projeto-about {
      .about-direita {
        .about-list-direita {
          float: left;
          padding: 0.5rem 0 0 0;
        }
      }

      .about-esquerda {
        .about-title {
          font-size: 2rem;
        }
      }
    }

    .projeto-metas {
      .metas-esquerda {
        .metas-title {
          font-size: 2rem;
        }
      }

      .metas-direita {
        .metas-list {
          padding: 1rem 0 1rem 1rem;
          font-size: 1.2rem;
        }
      }
    }
  }

  #container {

    .projeto-conceito-marca {
      .conceito-esquerdo {
        .title-conceito {
          font-size: 2rem;
        }
      }

      .conceito-direito {
        display: none;
      }
    }

    .projeto-conceito-simbolo {
      .conceito-simbolo-centro {
        padding: 0 0 2rem 0;
        display: flex;
        gap: 2rem;
        flex-direction: column;
      }

      .conceito-simbolo-esquerda {
        .title-conceito-simbolo {
          font-size: 2rem;
        }
      }
    }

    .projeto-tipografia {
      .tipografia-esquerda {
        .title-tipografia {
          font-size: 2rem;
        }

        .tipografia-system {
          display: flex;
          gap: 2rem;
          flex-direction: column;

          .style-aviex {
            padding-bottom: 0;
          }
        }
      }

      .tipografia-direita {
        display: none;
      }
    }

    .projeto-construction-logo {
      .construction-logo-esquerda {
        .title-construction-logo {
          font-size: 2rem;
        }
      }

      .construction-logo-direita {
        .grids-construction-logo {
          display: flex;
          flex-direction: column;
        }
      }
    }

    .projeto-exemplos-aplication {
      .exemplos-aplication-esquerda {
        .title-exemplos-aplication {
          font-size: 2rem;
        }
      }
    }

  }

  .paleta-de-cores {
    .projeto-paleta-cores-top {
      .paleta-cores-top-direita {
        .title-paleta-cores {
          font-size: 2rem;
        }
      }

      .paleta-cores-text {
        gap: 5.5rem;

        .paleta-cores-bottom-direita {
          .desc-paleta-cores {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

// Max-width 320

@media only screen and (max-width: 375px) {

  #container {
    .projeto-construction-logo {
      .construction-logo-direita {
        .spacing-construction-logo {

          .spacing-logo-1,
          .spacing-logo-2,
          .spacing-logo-3 {
            max-width: 15rem;
          }
        }
      }
    }
  }

  .paleta-de-cores {
    .projeto-paleta-cores-top {
      .paleta-cores-text {
        .projeto-paleta-cores-esquerda {
          .desc-paleta-cores {
            padding-bottom: 9rem;
          }
        }

        .paleta-cores-bottom-direita {
          .codigo-cor {
            padding-top: 9.5rem;
          }
        }
      }
    }
  }

  .contact {
    .content-contact {
      .contact-btns {
        display: flex;
        flex-direction: column;
      }
    }
  }
}