// Imports

@import url(/assets/styles/root.less);

//Min-width 2560

@media only screen and (min-width: 2560px) {}

// Max-width 1440

@media only screen and (max-width:1440px) {}

// Max-width 1024

@media only screen and (max-width: 1024px) {}

// Max-width 834

@media only screen and (max-width: 834px) {
  #container {
    max-width: 768px;

    .projeto-etapas-do-design {
      max-width: 680px;

      .etapas-content {
        .etapas-esquerda {
          .etapas-title {
            text-align: center;
            max-width: 50rem;
            padding-bottom: 3rem;
          }
        }

        .etapas-direita {
          display: flex;
          flex-direction: column;
          margin: 0 auto;

          .etapas-problem {
            max-width: 50rem;
            font-size: 1.2rem;
            padding-bottom: 3rem;
            font-weight: 500;
          }

          img {
            max-width: 43rem;
          }
        }
      }
    }

    .projeto-pesquisas {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      max-width: 680px;

      .pesquisas-esquerda {
        .pesquisas-title {
          max-width: 43rem;
          width: 43rem;
        }
      }

      .pesquisas-direita {
        .matriz-csd {
          max-width: 43rem;
          width: auto;
        }

        .desc-imagem {
          font-size: 0.8rem;
        }
      }
    }

    .projeto-dados {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      max-width: 680px;

      .dados-esquerda {
        .dados-title {
          max-width: 43rem;
        }
      }

      .dados-direita {
        .dados-graphic {
          gap: 1rem;
        }

        .graphic-users {
          max-width: 21rem;
          padding: 1rem 0.65rem;
        }

        .graphic-demographic {
          max-width: 21rem;
          padding: 1rem 0.65rem;
        }
      }
    }

    .projeto-fluxo-users {
      .fluxo-content {
        display: flex;
        flex-direction: column;
        max-width: 680px;
        gap: 2rem;

        .fluxo-esquerda {
          .fluxo-title {
            max-width: 43rem;
          }
        }

        .fluxo-direita {
          .fluxo-example {
            max-width: 43rem;
          }

          .desc-image-fluxo {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  .bg-black {
    padding: 3.5rem 0;
  }

  #container-top {
    padding: 8rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 768px;

    .projeto-header {
      max-width: 680px;
      display: flex;
      flex-direction: column;

      .header-esquerdo {
        max-width: 43.5rem;
        padding-bottom: 2rem;
        padding-top: 2rem;

        .titulo-do-projeto {
          max-width: 43.5rem;
        }
      }

      .header-direito {
        display: none;
      }

      .header-inferior {
        .tags-projeto {
          display: flex;
          gap: 2rem;
          justify-content: flex-start;
          flex-wrap: wrap;
        }
      }
    }

    .projeto-about {
      max-width: 680px;
      gap: 2rem;
      flex-direction: column;

      .about-esquerda {
        .about-title {
          max-width: 100% !important;
        }
      }

      .about-direita {
        .about-list-esquerda {
          max-width: 21rem;
        }

        .about-list-direita {
          max-width: 20rem;
          padding: 0 !important;
        }
      }
    }

    .projeto-metas {
      max-width: 680px;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .metas-esquerda {
        .metas-title {
          max-width: 50rem;
        }
      }

      .metas-direita {
        .metas-list {
          padding: 2rem 0 2rem 2rem;
          font-size: 2rem;
        }
      }
    }
  }
}

// Max-width 430

@media only screen and (max-width: 430px) {}

// Max-width 320

@media only screen and (max-width: 320px) {}